
main {
  width: 100vw;
  height: 86vh;
  padding: 2.2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 50vh;
  height: 25.5vh;
}

.card {
  margin: 0 auto;
  display: block;
  width: 95%;
  height: 98%;
  background-color: rgba(155, 155, 155, 0.15);
  border: 1px solid #999;
  border-radius: 15px;
  box-shadow: 0px 0px 3px 1px #999;
}

.card:hover {
  box-shadow: 0px 0px 5px 2px #FAFF1E;
}

.shadow {
  width: f;
  height: 100%;
  border-radius: 15px;
  background: linear-gradient (180deg 
  rgba(23,23,23,0.8645833333333334) 60%, 
  rgba(133,133,133,0.21192226890756305) 100%);
}

.delivery-type {
  position: absolute;
  max-height: 25vh;
}

.bike {
  bottom: -3%;
  right: -5%;
  border-radius: 0px 0px 2% 0px;
}

.motorcicle {
  bottom: -3%;
  right: -3%;
}
.minivan {
  bottom: -13%;
  right: 0px;
}
