
body {
  background: #171717;
}

main {
  width: 100vw;
  height: 100vh;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 85vw;
  height: 30vh;
}

.card { 
  margin: 0 auto;
  display: block;
  width: 95%;
  height: 28vh;
  background-color: rgba(155, 155, 155, 0.15);
  border: 1px solid #999;
  border-radius: 15px;
  box-shadow: 0px 0px 3px 1px #999;
}

.card:hover {
  box-shadow: 0px 0px 5px 2px #FAFF1E;
}

.bike {
  position: absolute;
  bottom: -3%;
  right: -5%;
  max-width: 105%;
  border-radius: 0px 0px 2% 0px;
}

.motorcicle {
  position: absolute;
  bottom: -3%;
  right: -3%;
  max-width: 103%;
}
.minivan {
  position: absolute;
  bottom: -13%;
  right: 00px;
  max-width: 100%;
}
