
.map-wrapper  {
  height: 50vh;
}

.map{
  width: 100%;
  height: 48vh;
}

.package-wrapper {
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(48vh - 75px);
  left: calc(50vw - 75px);
  text-align: center;
  background-color: #171717;
  border-radius: 100%;
}

.package {
  width: 100px;
  height: 100px;
  position: relative;
  top: 25px;
  background: #faff1e;
  border-radius: 100%;
  box-shadow: 0 0 10px 10px #FAFF1E;
} 

.delivery-wrapper {
  max-width: 1024px;
  height: 50vh;
  margin: 0 auto;
  margin-top: 70px;
  padding: 0 1rem;
  padding-bottom: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
