* {
  color: #ddd;
}

.delivery-counter {
  color: #bbb;
}

.delivery-info {
  height: 37vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.btn {
  color: #171717;
  padding: 0.5rem 0.75rem;
  border: none;
  font-size: 0.8rem;
}

/* .btn:hover {
  color: #171717 !important;
  font-weight: bold !important;
} */
  
.client-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
  font-family: 'Ubuntu';
  font-weight: 400;
}
.pilot-wrapper {
  height: 10vh;
  padding-bottom: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.pilot {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.pilot-photo {
  border-radius: 100%;
}

.pilot-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.pilot-name {
  font-family: 'Ubuntu', monospace;
}

.call-pilot {
  color: greenyellow ;
  border: 1px solid green;
  background-color: transparent;
}
